$themeColor: #280959;

$themeSecondColor: #ffffff;
$themeColor-op: #0a00358a;
$primaryColor: #ffffff;
$secondColor: #dcdcdc;

$white: #fff;
$blueDark: #02366e;
$blueLightHover: #419dab;
$blueLight: #51def5;
$blueLightExtra: #ebf6f4;

.bg-blue-800 {
  background-color: $blueDark;
}
